:root {
    --primary: #0F0F0F;
    --secondary: white;
    --bg-dark-gray: #202020;
    --light-gray: #C3C3C3;
    --dark-gray: #8B8B8B;
    --dark-blue: #3A7FFF;
    --light-blue: #5BC8FF;
    --light-red: #FF5A5A;
}