.title h1 {
    color: var(--secondary);
    font-size: 52px; 
    margin: 0;
}

#articlesTitle h1 {
    margin-bottom: 34px;
    margin-top: 25px;
}

/** Mobile **/
@media (max-width: 768px) {
    .title h1 {
        font-size: 24px;
    }
}